body{
    margin: 0;
    padding: 0;
}
.header{
    height: 50vh;
}
/* Parallaxe */
.parralax{
    background-image: url("../img/lol.jpg");
    filter: grayscale(0.8);
    opacity: 0.8;
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    padding-bottom:35%;
    position:relative;
    height: 0;
}
h1, #titlle {
    padding-top: 20vh;
    padding-bottom: 20px;
    color: white;
}
/* navbar */
#navbar{
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
    background-color: white;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}
#navbar a{
    padding: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    color: #c98c5a;
}
#navbar a:hover{
    background-color: #123132;

    color: white;
}
/* Navbar end */
/* footer */
footer{
    background-color: gray;
    color: white;
}