.header{
  height: 50vh;
}
/* Parallaxe */
.parralax{
  background-image: url("../img/lol.jpg");
  filter: grayscale(0.8);
  opacity: 0.8;
  height: 60vh;
  background-size: 100%;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h1, #titlle {
  padding-top: 20vh;
  padding-bottom: 20px;
  color: white;
}
/* navbar */
#navbar{
  overflow: hidden;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  background-color: white;
}
#navbar a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 2vh 5vw;
  text-decoration: none;
  font-size: 17px;
  background-color: white;
  color: #c98c5a;
}
#navbar a:hover{
  background-color: #123132;
  color: white;
  font-weight: bold;
}
.active{
  font-weight: bold;
}
/* Navbar end */
footer{
  margin-top: 500px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: black;
  width: 100%;
  color: #a5a5a5;
}
.footer_title{
  font-size: 30px;
  font-weight: bold;
  color: white;
}
